camera_images/*
landscape_baseline/*
landscape_images/*
landscape_data*
*.bin
*.html
# *.json
requirementsConda.txt
*.csv
*.png
__pycache__/
*.tar
data/
landscape_v_camera/
ants_vs_bees/
camelyon17_v1.0
image_data/
misc/
data.tar.gz
nohup.out
*.npy
*.npz
*.h5
# *.toml
*.dill
results_old/
tmp/
config/**/*.txt
*.txt
!requirements.txt
config/detectors/*.txt
src/modules/alibi_detect/test/Create_96_by_96_test_split.ipynb
src/modules/alibi_detect/test/run_night*.py
config/detectors/RxRx1/PCA_n_32/res_MMD.json
