camera_images/*
landscape_baseline/*
landscape_images/*
landscape_data*
*.bin
*.html
# *.json
requirementsConda.txt
*.csv
*.png
__pycache__/
*.tar
data/
landscape_v_camera/
ants_vs_bees/
camelyon17_v1.0
image_data/
misc/
data.tar.gz
nohup.out
*.npy
*.npz
*.h5
*.toml
*.dill
results_old/
config/detectors/
run_night*
train_and_save_*.ipynb
Create_96_by*
PCA_demo_with*
PCAIncremental*
UAEIncremental*
PCASudden*
TAESudden*
UAESudden*
LoadData*
